<table class="table table-striped">
  <tr>
    <% @results.first.keys.each do |key| %>
      <th class="table-header"><%= key %></th>
    <% end %>
  </tr>

  <% @results.each do |row| %>
    <tr class="table-row">
      <% row.each do |key, value| %>
        <td class="<%= key.downcase %>"><%= value %></td>
      <% end %>
    </tr>
  <% end %>

  <tr class="table-row">
    <td>last updated:</td>
    <td><%= @timestamp %></td>
    <td></td>
  </tr>
<table>
