<table class="table">
  <% @subway_stops.each do |line, stops| %>
    <% stops.sort! %>
    <% stops.each do |stop| %>
      <tr class="table-row" color="<%= line %>">
        <td class="btn btn-lg"><%= stop %></td>
      </tr>
    <% end %>
  <% end %>

  <tr class="timestamp">
    <td>last updated: <%= @timestamp %></td>
  </tr>

</table>
